.popup__wrapper {
  height: 90%;
  width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.popup__wrapper::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .popup__wrapper {
    width: 59%;
    max-width: 754px;
    padding: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .popup__wrapper {
    padding: 53px 98px;
  }
}
