.popup__avatar-text {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .popup__avatar-text {
    font-size: 19px;
  }
}