.popup__director-name {
  position: absolute;
  top: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  left: 12px;
}

@media screen and (min-width: 768px) {
  .popup__director-name {
    top: 8px;
    left: 20px;
  }
}
