.popup__input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  color: #0c1014;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; 
}

.popup__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; 
}
