.popup__text-error {
  color: red;
  position: absolute;
  bottom: -12px;
  left: 0;
  font-size: 8px;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .popup__text-error {
    bottom: -20px;
  }
}
